<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- Log collection expiration time (in hours)-->
		<add key="LogTTL" value="240" />

		<!-- URL Base Address -->
		<add key="BaseAPI" value="https://localhost:7296" />
		<!--<add key="BaseAPI" value="http://localhost:5100" />-->
		
		<!-- Source File Path -->
		<add key="SourceFileDirectory" value="D:\SharedFileDirectory" />		
		<!--<add key="SourceFileDirectory" value="D:\testfiles" />-->
		
		<!-- Log File Path -->
		<add key="LogFileDirectory" value="D:\DigitalDashboardLogs" />
	</appSettings>
</configuration>